.modal-item{

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    overflow: hidden;
    max-height: 40px;
    padding-top: 40px;

    .modal-item-paragraph{
        font-size: 20px;
        padding: 10px 0;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    
}

.itemEntering{
    animation: entering .3s forwards ;

}

.itemEnterDone{
    padding-top:0px;
}

@keyframes entering{
    50%{padding-top:20px;}
    100%{padding-top:0px;}
}

.exit{
    background-color: darkred;
}
    