.modal-item{

    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 46px;

    p{
        font-size: 20px;
        padding: 10px 0;
        font-weight: 600;
        display: inline-block;
        margin-top: 50px;
        transition: margin-top .3s .4s ease-in-out;

    }


    .modal-item-paragraph{
        transition: margin .7s .4s;
    }


}