.modal-item{

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    overflow: hidden;
    max-height: 40px;
    padding-top: 40px;

    .modal-item-paragraph{
        font-size: 20px;
        padding: 10px 0;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .modal-item-paragraph__arrow-mobile{
            display: none;
        }
        .modal-item-paragraph__arrow-pc{
            display: none;
        }

    }

    
}

.itemEntering{
    animation: entering .3s forwards ;

}

.itemEnterDone{
    padding-top:0px;
}

@keyframes entering{
    50%{padding-top:20px;}
    100%{padding-top:0px;}
}

.exit{
    background-color: darkred;
}
    




@media (min-width: 1000px){

    
    
    .modal-item{
        
        width: 20%;
        display: block;
        padding: 0px;
        overflow: visible;
        // max-height: 40px;

        
        .modal-item-paragraph{
            font-size: 26px;
            padding: 10px 30px 10px 0 ;
            font-weight: 300;
            display: block;
            width: auto;
            color: rosybrown;
            
            .modal-item-paragraph__arrow-mobile{
                display: none;
            }
            .modal-item-paragraph__arrow-pc{
                display: inline;
            }
            
        }
        
        
    }

    .modal-item:hover{

        animation: show-border .4s forwards;
        
    }

    @keyframes show-border{
        to{ border-bottom: 1px solid wheat;
            width: 50%;
            }
    } 
    
}