

.header__modal-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    top: 0;
    left: -100%;
    transition: background-color .3s ease-in-out;
    overflow: hidden;
    z-index: 2;



    .header__modal-content-align{
        background-color: white;
        width: 80%;
        height: 100%;
        padding: 30px;
        position: relative;
        left: -100%;
        transition: left .3s ease-in-out;
        overflow: hidden;


            .header__modal-close-btn{
                padding-bottom: 30px;
                
                button{ 
                background: none;
                border: none;
                outline: none;
                font-size: 20px;
                }
            }

            // .header__modal__list{

            // }
            
            .header__modal__account{
                margin: 20px 0;
            }
            
            .header__modal__account__list__item{
                
                padding: 10px 0;
                font-size: 18px;
                color: lightslategrey;

            }
        }

        hr{
            height: 5px;
            background: black;
        }
        
    


}
